<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- meta tag description author for SEO -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive Design | Welcome</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <style>
        button{
            font-size: 15px;
            margin: 3px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <!-- <div class="notification" style="text-align: center;background:mintcream;color: black;">Hello | Kumar</div> -->
    <header>
        <div class="container">
            <!-- logo -->
           <div id="branding">
               <h1><span class="highlight">IIY</span>Software</h1>
           </div>
           <!-- nav bar -->
           <nav class="topnav">
               <ul>
                   <li><a href= "#">Home</a></li>
                   <li><a href= "#">About Us</a></li>
                   <li><a href= "#">Videos</a></li>
                   <li><a href= "#">Notes</a></li>
                   <li><a href= "#">Quiz</a></li>
                   <li><a href= "#">Test</a></li>
                   <li><a href= "/home">Logout</a></li>
                   
               </ul>
           </nav>
        </div>
    </header>

    <div class="content" style="text-align: center;">
        <h2 class="text1">Welcome Admin</h2>
        <button onclick="window.location.href='/admin/view_students'">View Students</button>
        <button onclick="window.location.href='/admin/view_aboutus'">View AboutUs</button>
        <button onclick="window.location.href='/admin/view_videos'">View Videos</button>
        <button onclick="window.location.href='/admin/view_notes'">View Notes</button>
        <button onclick="window.location.href='/admin/view_test'">View test</button>
</html>
    
    </div>
    
    <!-- <footer>
        <p>Kumar Design <i class="fa fa-heart" style="font-size:15px;color: red;"></i> Copyright &copy; 2019</p>
    </footer> -->

</body>
</html>